<style>
    #log_textarea {
        padding: 15px;
        text-align: left;
    }
    
    #log_textarea pre {
        word-break: break-all;
        margin: 0;
        font-size: 10pt;
        font-family: Arial;
        background-color: #F0F0F0;
        color: #202020;
    }
    
    .description {
        background-color: #93ccff;
        font-size: 15pt;
    }
</style>

<script>
    //<![CDATA[
    function clearlog(btn) {
        XHR.get('admin/services/softwarecenter/clear_log', null,
            function(x, data) {
                if (x && x.status == 200) {
                    var log_textarea = document.getElementById('log_textarea');
                    log_textarea.innerHTML = "";
                    log_textarea.scrollTop = log_textarea.scrollHeight;
                }
            }
        );
    }
    
    XHR.poll(2, 'admin/services/softwarecenter/get_log', null,
        function(x, data) {
            if (x && x.status == 200) {
                var log_textarea = document.getElementById('log_textarea');
                log_textarea.innerHTML = x.responseText;
                log_textarea.scrollTop = log_textarea.scrollHeight;
            }
        }
    );
    //]]>
</script>

<fieldset class="cbi-section" id="_log_fieldset">
    <input class="cbi-button cbi-input-remove" type="button" onclick="clearlog()" value="清除日志" />
    <textarea id="log_textarea" class="cbi-input-textarea" style="width: 100%; margin-top: 10px;" data-update="change" rows="22" wrap="off" readonly="readonly"></textarea>
</fieldset>
