<fieldset class="cbi-section">
    <legend><%: 运行状态 %></legend>
    <table width="100%" cellspacing="10" id="_xlnetacc_status_table">
        <tbody>
            <tr id="nginx_row" style="display:none">
                <td class="name" width="40%"><%: Nginx 服务器运行状态 %></td>
                <td class="state"><em><b><font color=green> <%:运行中%> </font></b></em></td>
            </tr>
            <tr id="php_row" style="display:none">
                <td class="name" width="40%"><%: PHP8 解析器运行状态 %></td>
                <td class="state"><em><b><font color=green> <%:运行中%> </font></b></em></td>
            </tr>
            <tr id="mysql_row" style="display:none">
                <td class="name" width="40%"><%: MySQL 服务器运行状态 %></td>
                <td class="state"><em><b><font color=green> <%:运行中%> </font></b></em></td>
            </tr>
        </tbody>
    </table>
</fieldset>

<script type="text/javascript">
//<![CDATA[
    var nginx_row = document.getElementById("nginx_row");
    var nginx_state = nginx_row.querySelector(".state");

    var mysql_row = document.getElementById("mysql_row");
    var mysql_state = mysql_row.querySelector(".state");

    var php_row = document.getElementById("php_row");
    var php_state = php_row.querySelector(".state");

    function updateServiceStatus(name, state) {
        switch (name) {
            case "nginx":
                updateRowStatus(nginx_row, nginx_state, state);
                break;
            case "mysql":
                updateRowStatus(mysql_row, mysql_state, state);
                break;
            case "php":
                updateRowStatus(php_row, php_state, state);
                break;
        }
    }

    function updateRowStatus(row, state, status) {
        row.style.display = "";
        state.innerHTML = status ? `<em><b><font color=green> <%:运行中%> </font></b></em>` : `<em><b><font color=red> <%:没有运行%> </font></b></em>`;
        state.setAttribute("data-updated", new Date().toLocaleString());
    }

    XHR.poll(5, "<%=luci.dispatcher.build_url('admin/services/softwarecenter/status')%>", null,
        function(x, status) {
            if (x && x.status == 200) {
                if (status.nginx_installed) {
                    updateServiceStatus("nginx", status.nginx_state);
                }
                if (status.mysql_installed) {
                    updateServiceStatus("mysql", status.mysql_state);
                }
                if (status.php_installed) {
                    updateServiceStatus("php", status.php_state);
                }
            }
        }
    );
//]]>
</script>
