<script type="text/javascript">//<![CDATA[
XHR.poll(5, '<%=url("admin/nas/deluge/status")%>', null,
	function(x, data) {
		var tb = document.getElementById('deluge_status');
		if (data && tb) {
			if (data.running) {
				var links = '<em><b><font color=green>Deluge <%:RUNNING%></font></b></em><input class="cbi-button  cbi-button-apply mar-10" type="button" value="<%:Open Web Interface%>" onclick="openwebui();" />';
			} else {
				var links = '<em><b><font color=red>Deluge <%:NOT RUNNING%></font></b></em>';
			}
			tb.innerHTML = links;
		}
	}
);

function openwebui(){
	<%local uci = require "luci.model.uci".cursor()%>
	var url = window.location.host + ':<%= uci:get("deluge", "main", "port"):gsub("^%s*(.-)%s*$", "%1") %>';
	<% if uci:get("deluge", "main", "https") == 'false' then %>
		window.open('http://' + url, 'deluge');
	<% else %>
		window.open('https://' + url, 'deluge');
	<% end %>
};

//]]>
</script>
<style>.mar-10 {margin-left: 20px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="deluge_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
