<script type="text/javascript">//<![CDATA[
    XHR.poll(5, '<%=url("admin/nas/deluge/status")%>', null, function (x, data) {
        const tb = document.getElementById('deluge_status');
        if (data?.running) {
            tb.innerHTML = `<b><font color="green">Deluge <%:RUNNING%></font></b><input class="cbi-button cbi-button-apply" style="margin-left: 20px; margin-right: 10px;" type="button" value="<%:Open Web Interface%>" onclick="openWebUI('${data.port}', '${data.https}')"/>`;
        } else {
            tb.innerHTML = `<b><font color="red">Deluge <%:NOT RUNNING%></font></b>`;
        }
    });

    function openWebUI(port, https) {
        const protocol = (https === 'false') ? 'http://' : 'https://';
        window.open(`${protocol}${window.location.host}:${port}`, 'deluge');
    }
//]]></script>
<fieldset class="cbi-section">
    <p id="deluge_status">
        <em><%:Collecting data...%></em>
    </p>
</fieldset>
