<style>
    #log_text {
        padding: 15px;
        text-align: left;
    }

    #log_text pre {
        word-break: break-all;
        margin: 0;
        font-size: 10pt;
        font-family: Arial;
        background-color: #F0F0F0;
        color: #202020;
    }

    .description {
        background-color: #93ccff;
        font-size: 15pt;
    }
</style>

<script>//<![CDATA[
    var maxLines = 20;
    function updateMaxLines() {
        maxLines = parseInt(document.getElementById('line_count_select').value);
        XHR.poll(5, '<%=url("admin/nas/deluge/action_log")%>', null,
            function (x, data) {
                var logElm = document.getElementById('log_text');
                if (data && logElm) {
                    var logData = data.log ? data.log.split('\n').slice(-maxLines).reverse().join('\n') : '<%:No log data.%>';
                    var syslogData = data.syslog ? data.syslog.split('\n').slice(-maxLines).reverse().join('\n') : '<%:No log data.%>';
                    var description = String.format('<span class="description"><%:Last %s lines of file:%></span><br/>', maxLines);
                    var syslog = String.format('<br/><br/><span class="description"><%:Last %s lines of syslog:%></span><br/>', maxLines);
                    logElm.innerHTML = `<pre>${description}${logData}${syslog}${syslogData}</pre>`;
                } else {
                    logElm.innerHTML = '<strong><%:Failed to load log data.%></strong>';
                }
            }
        );
    }

    window.onload = function () {
        updateMaxLines();
        var selectBox = document.getElementById('line_count_select');
        selectBox.addEventListener('change', updateMaxLines);
    };
//]]></script>
<div class="cbi-map">
    <h2 name="content">
        <%:Deluge%> - <%:Log Data%>
    </h2>
    <div class="cbi-section-wrapper">
        <label for="line_count_select" style="display: inline-block;">
            <%:Number of lines to display:%>
        </label>
        <select id="line_count_select" style="display: inline-block; width: 50px;">
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="60">60</option>
        </select>
        <div style="float: right;">
            <small>
                <%:Refresh every 5 seconds.%>
            </small>
        </div>
    </div>
    <div id="log_text">
        <img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" />
        <%:Collecting data...%>
    </div>
</div>
