<body>
    <script type="text/javascript" src="/luci-static/tinynote/jquery.min.js"></script>
    <script type="text/javascript" src="/luci-static/tinynote/clipboard.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/ace/1.32.3/ace.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.3/ace.js"></script>
    <link rel="stylesheet" href="/luci-static/tinynote/bulma.css"/><br>
    <div class="columns is-centered" style="display: none;"></div>
    <progress class="progress is-success is-small" max="100" style="display:none">50%</progress>
    <div class="columns mb-0 is-desktop">
        <div class="column">
            <div id="inputDiv" class="aceEditorBorder">
                <div class="aceEditorMenu">
                    <a style="float:left;">
                        <i class="is-size-6 is-family-primary">输入</i>
                    </a>
                    <div class="editortoolbar btn-group-sm">
                        <a  class="icon is-hidden-mobile" onclick="setFromLocalStorage()" title="从本地存储加载以前的数据">
                            <i class="material-icons">history</i>
                        </a>
                        <a id="fileopen" class="icon" title="打开文件">
                            <i class="material-icons">folder_open</i>
                        </a>
                        <a  class="icon is-hidden-mobile" title="保存" onclick="openSaveModal(true)">
                            <i class="material-icons">save</i>
                        </a>
                        <a class="icon" title="清除" onclick="clearAll(event, editor1);">
                            <i class="material-icons">delete_outline</i>
                        </a>
                        <a id='copyeditor1' class="icon" title="复制输入代码">
                            <i class="material-icons">content_copy</i>
                        </a>
                        <a id="inputFullScreen" class="icon" onclick="addFullScreen('input');" title="全屏">
                            <i class="material-icons">open_in_full</i>
                        </a>
                        <a id="inputCloseScreen" style="display:none" class="icon" onclick="removeFullScreen('input');" title="关闭全屏">
                            <i class="material-icons">close_fullscreen</i>
                        </a>
                    </div>
                </div>
                <div id="editor1" style="height: 60vh; width: 100%"></div>
                <div class="columns is-mobile m-0 aceStatusBar" id="inputStatusBar">
                    <div class="column is-two-thirds p-0 pl-0 status-left" id="inputAceLineColumn">Ln: 1 Col: 0; Max Col: 0</div>
                    <div class="column is-one-thirds p-0 has-text-centered status-right" id="inputTextSize">Size: 0 Byte</div>
                </div>
            </div>
        </div>
        <div class="column is-12-mobile is-2-desktop has-text-centered">
            <div class="columns mb-0">
                <div class="column">
                    <label class="button is-fullwidth" title="上传文件" for="fileInput">
                        <input id="fileInput" class="file-input" type="file" onchange="changeToFileContent(this)" style="display: none;" />
                        <span class="icon is-hidden-desktop-only">
                            <i class="material-icons">publish</i>
                        </span>
                        <span>文件</span>
                    </label>
                </div>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-fullwidth" title="下载文件" onclick="downloadFile(event);">
                        <span class="icon">
                            <i class="material-icons">cloud_download</i>
                        </span>
                        <span>下载</span>
                    </button>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-fullwidth" title="清空全部" onclick="clearAll(event);">
                        <span class="icon">
                            <i class="material-icons">delete_outline</i>
                        </span>
                        <span>清空全部</span>
                    </button>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <select id="indent_size" class="select is-fullwidth">
                        <option value="1">1 个制表符缩进</option>
                        <option value="2">2 个空格缩进</option>
                        <option value="3">3 个空格缩进</option>
                        <option value="4" selected="selected">4 个空格缩进</option>
                        <option value="8">8 个空格缩进</option>
                    </select>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <select id="aceTheme" class="select is-fullwidth"></select>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <select id="fontSize" class="select is-fullwidth"></select>
                </p>
            </div>
            <div class="field state" style="display: none;"></div>
            <div class="field success" style="display: none;"></div>
        </div>
        <div class="column">
            <div id="outputDiv" class="aceEditorBorder">
                <div class="aceEditorMenu">
                    <a style="float:left;">
                        <i class="is-size-6 is-family-primary" style="margin: 0;">输出</i>
                    </a>
                    <div class="editortoolbar btn-group-sm">
                        <a class="icon" title="保存" onclick="openSaveModal(true)">
                            <i class="material-icons">save</i>
                        </a>
                        <a class="icon" title="清除" onclick="clearAll(event, editor2);">
                            <i class="material-icons">delete_outline</i>
                        </a>
                        <a  id="copyeditor2" class="icon" title="复制输出代码">
                            <i class="material-icons">content_copy</i>
                        </a>
                        <a class="icon" title="下载" onclick="downloadFile(event);">
                            <i class="material-icons">cloud_download</i>
                        </a>
                        <a id="outputFullScreen" class="icon" onclick="addFullScreen('output');" title="全屏">
                            <i class="material-icons">open_in_full</i>
                        </a>
                        <a id="outputCloseScreen" class="icon" style="display:none" onclick="removeFullScreen('output');" title="关闭全屏">
                            <i class="material-icons">close_fullscreen</i>
                        </a>
                    </div>
                </div>
                <div id="editor2" style="height: 60vh; width: 100%"></div>
                <div class="columns is-mobile m-0 aceStatusBar" id="outputStatusBar">
                    <div class="column is-two-thirds p-0 pl-0 status-left" id="outputAceLineColumn">Ln: 1 Col: 0; Max Col: 0</div>
                    <div class="column is-one-thirds p-0 has-text-centered status-right" id="outputTextSize">Size: 0 Byte</div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/luci-static/tinynote/lib.js"></script>
