<%
css = [[
#log_text {
	padding: 15px;
	text-align: left;
}
#log_text pre {
	word-break: break-all;
	margin: 0;
	font-size : 10pt;
	font-family :Arial;
	<!-- background-color:#F0F0F0; -->
	<!-- color : #202020; -->
}
.description {
	background-color: #93ccff;
	font-size : 15pt;
}
]]
-%>

<script>//<![CDATA[
	XHR.poll(5, '<%=url("admin/nas/qbittorrent/action_log")%>', null,
		function(x, data) {
			var logElm = document.getElementById('log_text');
			if (data && logElm) {
				logElm.innerHTML = data
				? String.format(
					'<pre>%s%s%s%s</pre>',
					'<span class="background-color:#93ccff;font-size:15pt;"><%:Last 50 lines of log file:%></span><br/>',
					data.log || '<%:No log data.%>',
					'<br/><br/><span class="description"><%:Last 50 lines of syslog:%></span><br/>',
					data.syslog || '<%:No log data.%>'
					)
				: '<strong><%:Failed to load log data.%></strong>';
			};
		}
	);
//]]>
</script>
<div class="cbi-map">
	<h2 name="content"><%:qbittorrent%> - <%:Log Data%></h2>
	<fieldset class="cbi-section">
		<div id="log_text">
			<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" />
			<%:Collecting data...%>
		</div>
		<div style="text-align:right">
			<small><%:Refresh every 5 seconds.%></small>
		</div>
	</fieldset>
</div>
