<script src="/luci-static/resources/crypto-js.js"></script>
<script src="/luci-static/resources/asmcrypto.all.es5.js"></script>
<script>
    const flag = "<%=self.flag%>";
    const Value = "<%=self.Value%>";
    const encryptPassword = (pwd, flag) => {
        if (!flag) {
            return CryptoJS.enc.Hex.stringify(CryptoJS.MD5(pwd));
        }
        const salt = new Uint8Array(16);
        crypto.getRandomValues(salt);
        const key = asmCrypto.Pbkdf2HmacSha512(asmCrypto.string_to_bytes(pwd), salt, 100000, 64);
        return `${asmCrypto.bytes_to_base64(salt)}:${asmCrypto.bytes_to_base64(key)}`;
    };

    if (Value) {
        const password = encryptPassword(Value, flag);
        const data = new URLSearchParams({ password: `@ByteArray(${password})`, flag });
        fetch('<%=url("admin/nas/qbittorrent/encryptPassword")%>', { method: 'POST', body: data });
    }
</script>
<%+cbi/valueheader%>
<div<%=attr("data-ui-widget", luci.util.serialize_json({
    "Textfield", self:cfgvalue(section) or self.default, {
        id = cbid,
        name = cbid,
        size = self.size,
        datatype = self.datatype,
        optional = self.optional or self.rmempty,
        password = self.password,
        readonly = self.readonly,
        maxlength = self.maxlength,
        placeholder = self.placeholder
    }
}))%>></div>
<%+cbi/valuefooter%>
