<script src="/luci-static/resources/crypto-js.js"></script>
<script src="/luci-static/resources/asmcrypto.all.es5.js"></script>
<script type="text/javascript">//<![CDATA[
    const pwd = "<%=self.pwd%>";
    if (pwd) {
        const encryptPassword = (pwd, flag) => {
            if (!flag) return CryptoJS.MD5(pwd).toString();
            const salt = new Uint8Array(16);
            crypto.getRandomValues(salt);
            const key = asmCrypto.Pbkdf2HmacSha512(asmCrypto.string_to_bytes(pwd), salt, 100000, 64);
            return `${asmCrypto.bytes_to_base64(salt)}:${asmCrypto.bytes_to_base64(key)}`;
        }
        const flag = "<%=self.flag%>";
        const password = `@ByteArray(${encryptPassword(pwd, flag)})`;
        XHR.post('<%=url("admin/nas/qbittorrent/savePassword")%>', { password, flag }).catch(() => { });
    }
//]]></script>
<%+cbi/valueheader%>
<div>
    <input<%=
        attr("id", cbid) ..                                                           -- ID 属性，格式为 cbi-配置名-配置项名
        attr("name", cbid) ..                                                         -- name 属性，格式同 ID 属性
        attr("type", self.password and "password" or "text") ..                       -- 输入框类型
        attr("value", self:cfgvalue(section) or self.default) ..                      -- 输入框的默认值
        attr("class", self.password and "cbi-input-password" or "cbi-input-text") ..  -- 样式类名
        ifattr(self.size, "size") ..                                                  -- 输入框的尺寸
        ifattr(self.readonly, "readonly") ..                                          -- 只读属性，如果为 true，则用户无法修改输入框的值
        ifattr(self.maxlength, "maxlength") ..                                        -- 最大字节数，用于限制输入框的输入长度
        ifattr(self.onmouseover, "onmouseover") ..                                    -- 鼠标悬浮提示文本
        ifattr(self.placeholder, "placeholder") ..                                    -- 输入框的占位符文本
        ifattr(self.datatype, "data-type", self.datatype) ..                          -- 数据类型
        ifattr(self.combobox_manual, "data-manual", self.combobox_manual) ..          -- 手动输入选项
        ifattr(self.datatype, "data-optional", self.optional or self.rmempty) ..      -- 是否可选
        ifattr(#self.keylist > 0, "data-choices", { self.keylist, self.vallist })     -- 选项列表
    %>/>
    <%- if self.password then -%>
        <div class="btn cbi-button cbi-button-neutral" title="<%:Reveal/hide password%>" onclick="var e = this.previousElementSibling; e.type = (e.type === 'password') ? 'text' : 'password'">∗</div>
    <% end %>
</div>
<%+cbi/valuefooter%>
