<%+cbi/valueheader%>
<style>
    #timeUnit:focus {
        outline: 0;
        text-decoration: none;
        border-color: rgba(82, 168, 236, 0.8) !important;
        box-shadow: inset 0 1px 3px hsla(0, 0%, calc(100% - 17/255*100%), .01), 0 0 8px rgba(82, 168, 236, 0.6);
    }
</style>
<div style="display: flex; align-items: center;">
    <input<%=
        attr("id", cbid) ..
        attr("name", cbid) ..
        attr("value", self:cfgvalue(section) or self.default) ..
        attr("class", self.password and "cbi-input-password" or "cbi-input-text") ..
        ifattr(self.width, "style", "width: " .. self.width .. "px;")
    %>/>
    <select id="timeUnit" class="cbi-input-select" title="<%:Select time unit%>"
        style="width: 60px;" onchange="updateCombinedValue(this.id)">
        <option value="d"><%:days%></option>
        <option value="m"><%:month%></option>
        <option value="y"><%:year%></option>
    </select>
</div>
<script>
    function updateCombinedValue(id) {
        const timeUnit = document.getElementById(id).value;
        const input = document.getElementById('cbid.qbittorrent.main.SaveTime');
        if (input.value) input.value = input.value.match(/^\d+/)[0] + timeUnit;
    }

    document.addEventListener("DOMContentLoaded", function () {
        const timeUnitInput = document.getElementById('cbid.qbittorrent.main.SaveTime');
        const timeUnitValue = timeUnitInput.value.match(/[dDmMyY]$/)[0];
        if (timeUnitValue) document.getElementById('timeUnit').value = timeUnitValue;
    });
</script>
<%+cbi/valuefooter%>
