<script>
    function RandomPort() {
        document.getElementById('cbid.qbittorrent.main.PortRangeMin').value = Math.floor(Math.random() * (65535 - 1024 + 1)) + 1024;
    };
</script>
<%+cbi/valueheader%>
<div><input
<%= attr("id", cbid) ..                                                           -- ID 属性，格式为 cbi-配置名-配置项名
    attr("name", cbid) ..                                                         -- name 属性，格式同 ID 属性
    attr("type", self.password and "password") ..                                 -- 输入框类型
    attr("value", self:cfgvalue(section) or self.default) ..                      -- 输入框的默认值
    attr("class", self.password and "cbi-input-password" or "cbi-input-text") ..  -- 样式类名
    ifattr(self.size, "size") ..                                                  -- 输入框的尺寸
    ifattr(self.readonly, "readonly") ..                                          -- 只读属性，如果为 true，则用户无法修改输入框的值
    ifattr(self.maxlength, "maxlength") ..                                        -- 最大字节数，用于限制输入框的输入长度
    ifattr(self.onmouseover, "onmouseover") ..                                    -- 鼠标悬浮提示文本
    ifattr(self.placeholder, "placeholder") ..                                    -- 输入框的占位符文本
    ifattr(self.datatype, "data-type", self.datatype) ..                          -- 数据类型
    ifattr(self.datatype, "data-optional", self.optional or self.rmempty)         -- 是否可选
%>/>
<div style="margin-left: 10px;"
     aria-label="<%= self.btntext %>"
     class="cbi-but cbi-button cbi-button-apply"
     title="<%:Click to randomly generate port%>"
     <%= ifattr(self.btnclick, "onclick", self.btnclick) %>
     <span style="font-weight: normal;"><%= self.btntext %></span>
</div></div>
<%+cbi/valuefooter%>
