<script>//<![CDATA[
    XHR.poll(5, '<%=url("admin/services/ddnsto/status")%>', null,
        function(x, data) {
            var tb = document.getElementById('ddnsto_status');
            if (data && tb) {
                var ver_id = `<%:版本: %><b><font color=green>${data.ver}</font></b>&nbsp;&nbsp;&nbsp;&nbsp;<%:ID: %><b><font color=green>${data.id}</font></b>`;
                tb.innerHTML = `DDNSTO： <b><font color="${data.stat ? 'green' : 'red'}">${data.stat ? '<%:RUNNING%>' : '<%:NOT RUNNING%>'}</font></b><br>${ver_id}`;
            }
        }
    );
//]]></script>
<fieldset class="cbi-section">
    <p id="ddnsto_status"><em><%:Collecting data...%></em></p>
</fieldset>
